aiobotocore
aiohttp
aioitertools
aiosignal
altair
anyio
async-timeout
attrs
blinker
boto3
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
dnspython
exceptiongroup
fastapi
fonttools
frozenlist
fsspec
gitdb
GitPython
gunicorn
h11
httptools
idna
importlib-metadata
Jinja2
jmespath
joblib
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
multidict
numpy
packaging
pandas==1.5.3
Pillow
plotly
protobuf
pyarrow
pydantic
pydeck
Pygments
pymongo
Pympler
pyparsing
python-dateutil
pytz
pytz-deprecation-shim
referencing
requests
rich
rpds-py
s3fs
s3transfer
scikit-learn
scipy
seaborn
six
smmap
sniffio
starlette
streamlit
tenacity
threadpoolctl
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
validators
watchdog
wrapt
yarl
zipp
statsmodels
apscheduler